{% load i18n template_helpers %}
<div class="sequence timed-exam checking-hardware-steps" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Follow these steps to check your computer or a device hardware and start a timed exam {{exam_name}}:
    {% endblocktrans %}
  </h3>
  <ol>
    {% if is_checking_audio_enabled %}
      <li>
        <p>
          {% blocktrans %}
            Before you begin a timed exam, you must make sure you have working microphone.
          {% endblocktrans %}
        </p>
      </li>
      {% endif %}
      <li class="check-microphone-alert">
        <p class="check-microphone-alert-loading">{% trans "Please speak loud and clear, we are checking the volume of your device" %}</p>
      </li>
      <li class="check-microphone-next">
        <p>{% trans "Verification completed successfully" %}</p>
        <a class="exam-action-button btn btn-pl-primary btn-success-checking-hardware"
           href="{% if is_checking_camera_enabled %}
           {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_camera_enabled' hardware_checked='microphone' %}
           {% else %} {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_audio_enabled' hardware_checked='microphone' %}
           {% endif %}">{% trans "Continue" %}</a>
      </li>
      <li class="microphone-problem-solving-tips">
        <p>{% trans "If you’re having microphone problems, the following suggestions might help:" %}</p>
        <ul>
          <li>
            <p>{% trans "Make sure the microphone or headset is properly connected to the computer" %}</p>
          </li>
          <li>
            <p>{% trans "Make sure the microphone is positioned correctly" %}</p>
          </li>
          <li>
            <p>{% trans "Make sure your privacy settings are configured properly" %}</p>
          </li>
          <li>
            <p>{% trans "Check the microphone or headset volume" %}</p>
          </li>
          <li>
            <p>{% trans "Update or install drivers for your sound card and microphone" %}</p>
          </li>
        </ul>
      </li>
    </ol>
  </div>
{% endif %}
    {% endif %}
    <li>
      <p>
        {% blocktrans %}
          Have you seen sound volume delays?
        {% endblocktrans %}
      </p>
        {% if is_checking_audio_enabled or is_checking_camera_enabled %}
        <a type="button"
           class="exam-action-button btn btn-pl-primary btn-success-checking-hardware hardware-checker"
           href="{% if is_checking_camera_enabled %} {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_camera_enabled' hardware_checked='microphone' %} {% else %} {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_audio_enabled' hardware_checked='microphone' %} {% endif %}"
        >
            {% blocktrans %}
            Yes
            {% endblocktrans %}
        </a>
        {% else %}
        <button type="button" class="exam-action-button btn btn-pl-primary btn-success-checking-hardware" data-action="submit">
            {% blocktrans %}
            Yes
            {% endblocktrans %}
        </button>
        {% endif %}
      <button type="button" class="exam-action-button btn btn-secondary btn-fail-checking-hardware" data-action="start" style="box-shadow: none">
        {% blocktrans %}
          No
        {% endblocktrans %}
      </button>
    </li>
    <li class="microphone-problem-solving-tips" style="margin-top: 20px">
      <p>
        {% blocktrans %}
          If you’re having microphone problems, the following suggestions might help.
        {% endblocktrans %}
      </p>
      <ul>
        <li>
          {% blocktrans %}
            Check your speaker output
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            Check your cables, plugs, jacks, volume, speaker, and headphone connections
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            If you have microphone issues, make sure your privacy settings are configured properly
          {% endblocktrans %}
        </li>
      </ul>
      <p>
        {% blocktrans %}
          If you still have hardware problems, you can contact technical support by emailing or by calling.
        {% endblocktrans %}
      </p>
    </li>
  </ol>
</div>

{% include 'timed_exam/entrance.html' %}

<script type="text/javascript">

  $('.microphone-problem-solving-tips').hide();
  $('.entrance').hide();
  $('.footer-sequence').hide();

  $('.btn-success-checking-hardware').click(function () {
    if (!confirm(`{% trans "Are you sure the microphone works?" %}`) || $(this).hasClass('hardware-checker')) {
      return;
    }

    $('.checking-hardware-steps').hide();
    $('.entrance').show();
    $('.footer-sequence').show();

  });

  $('.btn-fail-checking-hardware').click(function () {
    $('.microphone-problem-solving-tips').show();
  });

</script>
