{% load i18n template_helpers %}
<div class="sequence timed-exam checking-hardware-steps" data-exam-id="{{exam_id}}">
  <h3>
    {% trans "Follow these steps to check your computer or a device hardware and start a timed exam" %} {{exam_name}}:
  </h3>
  <ol class="check-microphone-items">
    <li>
      <p>
        {% trans "Before you begin a timed exam, you must make sure you have a working microphone." %}
      </p>
    </li>
    <li>
      <button id="check-microphone-btn" class="btn btn-primary">
        {% trans "Enable Checking Microphone" %}
      </button>
    </li>
    <li class="check-microphone-alert">
      <p class="check-microphone-alert-loading">
        {% trans "Please speak loud and clear, we are checking the volume of your device" %}
      </p>
    </li>
    <li class="check-microphone-next">
      <p>{% trans "Verification completed successfully" %}</p>
      <a class="exam-action-button btn btn-primary btn-success-checking-hardware"
         data-confirmation="true"
         data-confirmation-modal-id="hardwareCheckConfirmationModal"
         data-confirmation-action="navigate"
         href="{% if is_checking_camera_enabled %}
           {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_camera_enabled' hardware_checked='microphone' %}
           {% else %} {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_audio_enabled' hardware_checked='microphone' %}
           {% endif %}">{% trans "Continue" %}</a>
    </li>
      <li class="microphone-problem-solving-tips">
        <p>{% trans "If you’re having microphone problems, the following suggestions might help:" %}</p>
        <ul>
          <li>
            <p>{% trans "Make sure the microphone or headset is properly connected to the computer" %}</p>
          </li>
          <li>
            <p>{% trans "Make sure the microphone is positioned correctly" %}</p>
          </li>
          <li>
            <p>{% trans "Make sure your privacy settings are configured properly" %}</p>
          </li>
          <li>
            <p>{% trans "Check the microphone or headset volume" %}</p>
          </li>
          <li>
            <p>{% trans "Update or install drivers for your sound card and microphone" %}</p>
          </li>
        </ul>
      </li>
    </ol>
  </div>

{% trans "Confirmation" as confirmation_title %}
{% trans "Are you sure the microphone works?" as confirmation_msg %}
{% trans "YES" as confirmation_confirm_label %}
{% trans "NO" as confirmation_cancel_label %}

{% include "timed_exam/hardware_check_confirmation_modal.html" with seb_modal_id="hardwareCheckConfirmationModal" confirmation_title=confirmation_title confirmation_msg=confirmation_msg confirmation_confirm_label=confirmation_confirm_label confirmation_cancel_label=confirmation_cancel_label %}
{% include 'timed_exam/entrance.html' %}

<script type="text/javascript">
  (function () {
    "use strict";

	  $(".microphone-problem-solving-tips").hide();
	  $(".check-microphone-alert").hide();
	  $(".entrance").hide();
	  $(".footer-sequence").hide();
	  $(".check-microphone-verification").hide();
	  $(".check-microphone-next").hide();

	  $(".btn-fail-checking-hardware").click(() => $(".microphone-problem-solving-tips").show());
  })();
</script>
