{% load i18n template_helpers %}
<div class="sequence timed-exam checking-hardware-steps" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Follow these steps to check your computer's audio equipment before starting a timed exam {{exam_name}}.
    {% endblocktrans %}
  </h3>
  <ol>
    <li>
      <p>
        {% blocktrans %}
          Before you start a timed exam, make sure that headphones or speakers are working.
          Please listen to the test sound recording.
        {% endblocktrans %}
      </p>
      <audio class="checking-audio-player" controls playsinline src="{{checking_audio_url}}">
        Your browser does not support the <code>audio</code> element.
      </audio>
    </li>
    <li>
      <p>
        {% blocktrans %}
          Have you heard the sound record?
        {% endblocktrans %}
      </p>
      {% if is_checking_microphone_enabled or is_checking_camera_enabled %}
        <a type="button"
           class="exam-action-button btn btn-pl-primary btn-success-checking-hardware hardware-checker"
           href="{% if is_checking_microphone_enabled %} {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_microphone_enabled' hardware_checked='headphones' %} {% else %} {% extend_url_with_query_parameters request_full_path hardware_checker='is_checking_camera_enabled' hardware_checked='headphones' %} {% endif %}"
        >
          {% blocktrans %}
            Yes
          {% endblocktrans %}
        </a>
      {% else %}
        <button type="button" class="exam-action-button btn btn-pl-primary btn-success-checking-hardware" data-action="submit">
          {% blocktrans %}
            Yes
          {% endblocktrans %}
        </button>
      {% endif %}
      <button type="button" class="exam-action-button btn btn-secondary btn-fail-checking-hardware" data-action="start" style="box-shadow: none">
        {% blocktrans %}
          No
        {% endblocktrans %}
      </button>
    </li>
    <li class="audio-problem-solving-tips" style="margin-top: 20px">
      <p>
        {% blocktrans %}
          If you have not heard the sound recording, seek the help of
          an instructor or follow the recommended steps, trying to listen
          the test sound recording after each of them:
        {% endblocktrans %}
      </p>
      <ul>
        <li>
          {% blocktrans %}
            check the volume level set on the computer;
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            check the volume level on the cable, headphones or speakers;
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            check cables, plugs, sockets and the reliability of the wired headphone connection;
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            check the connection settings for wireless headphones;
          {% endblocktrans %}
        </li>
        <li>
          {% blocktrans %}
            check the system sound settings.
          {% endblocktrans %}
        </li>
      </ul>
    </li>
  </ol>
</div>

{% include 'timed_exam/entrance.html' %}

<script type="text/javascript">

  $('.audio-problem-solving-tips').hide();
  $('.entrance').hide();
  $('.footer-sequence').hide();

  $('.btn-success-checking-hardware').click(function () {
    let msg = "Ви впевнені, що чули звукозапис?";

    if (!confirm(msg) || $(this).hasClass('hardware-checker')) {
      return;
    }

    $('.checking-hardware-steps').hide();
    $('.entrance').show();
    $('.footer-sequence').show();
  });

  $('.btn-fail-checking-hardware').click(function () {
    $('.audio-problem-solving-tips').show();
  });

</script>
