{% load i18n static %}
<div class="sequence timed-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      You have only a single attempt to pass exam. Dou you actually confirm the intention to send provided answers
      and finish the work on the test, after that it would be impossible to return to the work?
    {% endblocktrans %}
  </h3>
  <button
    type="button"
    id="end-exam"
    name="submit-proctored-exam"
    class="exam-action-button btn btn-secondary btn-base"
    data-action="submit"
    data-change-state-url="{{change_state_url}}"
    data-user-id="{{user_id}}"
  >
    {% blocktrans %}
      Yes, submit my timed exam.
    {% endblocktrans %}
  </button>
  {% if does_time_remain %}
    <button
      type="button"
      id="resume-exam"
      name="goback-proctored-exam"
      class="exam-action-button btn btn-pl-primary btn-base"
      data-action="start"
      data-change-state-url="{{change_state_url}}"
      style="box-shadow: none"
    >
      {% blocktrans %}
        No, I want to continue working.
      {% endblocktrans %}
    </button>
  {% endif %}
</div>
<script type="text/javascript" src="{% static 'proctoring/js/exam_finish_confirmation.js' %}"></script>
