{% load i18n static %}
<div class="sequence timed-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Are you sure that you want to decline your timed exam?
    {% endblocktrans %}
  </h3>
  <button type="button" name="submit-proctored-exam" class="exam-action-button btn btn-pl-primary btn-base" data-action="decline" data-exam-id="{{exam_id}}" data-change-state-url="{{change_state_url}}">
    {% blocktrans %}
      Yes, decline my timed exam.
    {% endblocktrans %}
  </button>
  {% if does_time_remain %}
  <button type="button" name="goback-proctored-exam" class="exam-action-button btn btn-secondary btn-base" data-action="start" data-exam-id="{{exam_id}}" data-change-state-url="{{change_state_url}}" style="box-shadow: none">
    {% blocktrans %}
      No, I want to continue working.
    {% endblocktrans %}
  </button>
  {% endif %}
</div>
<script type="text/javascript" src="{% static 'proctoring/js/exam_finish_confirmation.js' %}"></script>
